@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(1.00625);
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

* {
    margin: 0;
    font-family: "Urbanist", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600 !important;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

section {
    scroll-margin-top: 23.75rem;
}

.fw-mid {
    font-weight: 500;
}

.btn-close {
    --bs-btn-close-bg: none;
    --bs-btn-close-hover-opacity: 1;
    --bs-btn-close-opacity: 0.9;
    --bs-btn-close-color: #fff;
    cursor: pointer;
}

.btn-primary {
    --bs-btn-bg: #1C1B1F;
    --bs-btn-border-color: #1C1B1F;
    --bs-btn-hover-bg: #1C1B1F;
    --bs-btn-hover-border-color: #1C1B1F;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: #1C1B1F;
    --bs-btn-active-border-color: #1C1B1F;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-bg: #1C1B1F;
    --bs-btn-disabled-border-color: #1C1B1F;
    border-radius: 999px;
    --bs-btn-padding-y: 0.65rem;
    --bs-btn-padding-x: 1.5rem;
    font-weight: 500;
}

.btn-primary-outline {
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: transparent;
    --bs-btn-active-bg: transparent;
    color: #1C1B1F !important;
}

.upBtn {
    position: fixed;
    padding: 0;
    right: 3.5%;
    bottom: 5%;
    width: 3rem;
    height: 3rem;
    z-index: 9999;
    text-align: center;
    border-radius: 999px !important;
    border-width: 2px !important;
    &::after {
        animation: none !important;
    }
}

.badge {
    --bs-badge-color: #1C1B1F;
}

.navbar-brand img {
    width: 47px;
}

.card {
    border-radius: 2rem;
    border-color: transparent;
}

.gradient-text,
.gradient-text-hover:hover {
    background-image: url("../assets/gradient-text.gif");

    background-size: 100%;
    background-repeat: repeat;

    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    width: 100%;
    height: 100%;
}

.gradient-text {
    -webkit-text-fill-color: #1c1b1f50;
    -moz-text-fill-color: #1c1b1f50;
}

/* Header and Navbar */

header {
    & .banner {
        background-color: #DA1C5C;
        color: #fff;
        height: 2.5rem;
    }

    & .navbar {
        --bs-navbar-padding-y: 0.8rem;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0.0) 100%);
    }

    & .navbar-toggler {
        border: none;
        padding: 0;
    }

    & .navbar-toggler:focus {
        box-shadow: none;
    }
}

/* Header and Navbar */

/* Home */

#home {
    & .motto-cards-wrapper {
        & .card {
            width: 48.75%;
            height: 250px;
            overflow: hidden;

            & img {
                transform: scale(1.3);
            }
        }

        & .card:nth-child(1) {
            background-color: #da1c5c1a;
        }

        & .card:nth-child(2) {
            background-color: #EAFBF0;
        }
    }
}

/* Home */

/* Why Us */

#whyUs {
    & .whyUs-cards-wrapper {
        & .card span {
            font-size: 7rem;
            opacity: 0.15;
        }

        & .card:nth-child(1) {
            background-color: #EEF1FF;
        }

        & .card:nth-child(2) {
            background-color: #FFFCEE;
        }

        & .card:nth-child(3) {
            background-color: #FFEEEE;
        }

        & .card:nth-child(4) {
            background-color: #EEFFF9;
        }
    }
}

/* Why Us */

/* Integrations */

#integrations {
    & .integrations-cards-wrapper {
        & .card {
            overflow: hidden;
        }

        & div .card:nth-child(1) {
            background-color: #EEFCFF;

            & .card-body {
                & img {
                    transform: scale(1.3);
                    margin-left: 3rem;
                }
            }
        }

        & div .card:nth-child(2) {
            background-color: #FEF9EC;

            & .card-body {
                & h3 span {
                    background-color: #EEBE41;
                }
            }
        }

        & .card {
            background-color: #EEFFF9;

            & .card-body {
                & i {
                    font-size: 4rem;
                    color: #25d366;
                }

                & form {
                    margin-left: 1rem;
                    pointer-events: none;

                    & input {
                        background-color: transparent;
                        width: 200%;
                        border-radius: 0.75rem;
                        padding: 0.75rem;
                    }
                }
            }
        }
    }
}

/* Integrations */

/* FAQ */

.accordion {
    --bs-accordion-active-bg: transparent;
    --bs-accordion-btn-focus-border-color: #cacaca;
    --bs-accordion-active-color: #1C1B1F;
    --bs-accordion-border-color: #cacaca;
    --bs-accordion-border-width: 1px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color) !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-flush .accordion-item,
.accordion-flush .accordion-item:first-child,
.accordion-flush .accordion-item:last-child {
    border: 1px solid #cacaca;
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
}

/* FAQ */

/* Footer */

footer {
    & div:first-of-type {
        border-bottom: 2.5px solid #F2F2F2;

        & h1 {
            font-size: 2rem;
        }
    }
}

/* Footer */

@media only screen and (min-width: 768px) {

    section {
        scroll-margin-top: 30rem;
    }

    #home {
        & .motto-cards-wrapper {
            & .card {
                height: 100%;

                & img {
                    transform: scale(2);
                }
            }
        }
    }

    #integrations {
        & .integrations-cards-wrapper {
            & div .card:nth-child(1) {
                & .card-body {
                    & img {
                        transform: scale(1.3);
                        margin-left: 2.75rem;
                    }
                }
            }

        }
    }
}

@media only screen and (min-width: 992px) {

    section {
        scroll-margin-top: 26rem;
    }

    #home {
        & .motto-cards-wrapper {
            & .card {
                & img {
                    transform: scale(1.7);
                }
            }
        }
    }

    #integrations {
        & .integrations-cards-wrapper {
            & div .card:nth-child(1) {
                & .card-body {
                    & img {
                        transform: scale(1.3);
                        margin-left: 3rem;
                    }
                }
            }

        }
    }

    footer {
        & div:last-of-type {
            & span p {
                order: -1;
                margin-right: 4rem;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {

    section {
        scroll-margin-top: 30rem;
    }

    #home {
        & .motto-cards-wrapper {
            & .card {
                height: 320px;

                & img {
                    transform: scale(1.3);
                }
            }
        }
    }

    #integrations {
        & .integrations-cards-wrapper {
            & div .card:nth-child(1) {
                & .card-body {
                    & img {
                        transform: scale(1.2);
                        margin-left: 4rem;
                    }
                }
            }

        }
    }

    footer {
        & div:last-of-type {
            & span p {
                order: -1;
                margin-right: 4rem;
            }
        }
    }
}