@keyframes blink {
    0% {
        outline: 3px solid red;
    }

    50% {
        outline: 3px solid yellow;
    }

    100% {
        outline: 3px solid red;
    }
}

.category {
    width: 15rem;
}

#mainMenu,
#subMenu {
    width: 45%;
}

.category:hover {
    cursor: pointer;
    transform: scale(1.025);
    transition: 0.15s ease-in-out;
    outline: 3px solid red;
}

.alert-added {
    animation: blink 1s linear infinite;
}