svg#freepik_stories-group-photo:not(.animated) .animable {
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elu6rzdqbx8ij {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #el7o8bs0isvfc {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.5s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated
	#freepik--background-simple--inject-107 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #elykmnbrk582 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #elmiebnqd3whb {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.02702702702702703s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elauzebwsn8pu {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.05405405405405406s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elbgz0lncoe3 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.08108108108108109s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elly3b00a1ohc {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.10810810810810811s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elbm68s390v64 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.13513513513513514s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #el2m5jssh38uf {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.16216216216216217s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #el0te0taz2o6gg {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.1891891891891892s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elphpak3vrwa {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.21621621621621623s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elw1oftw4u2 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.24324324324324326s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #eli1txufkw9nk {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.2702702702702703s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elfbs2kb0nsf {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.2972972972972973s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elbwxzjkhgvm6 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.32432432432432434s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elaaek4akg4l6 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.35135135135135137s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #el4dxo9dv1fbx {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.3783783783783784s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #el8mekt7r6wi9 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.40540540540540543s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #el8h4xnfsqaj {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.43243243243243246s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #eltoynhwbmqx {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.4594594594594595s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elhk7y90kswqa {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.4864864864864865s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elwf6md2msm2 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.5135135135135136s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #el9wz2z07v0p8 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.5405405405405406s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elzpgya6cbxql {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.5675675675675675s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elkcbea5odxno {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.5945945945945946s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #eld72cgcnupzv {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.6216216216216217s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #el3joilmnppjg {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.6486486486486487s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elz6zujwae0tc {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.6756756756756757s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #el2udwgcacot4 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.7027027027027027s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #eln5gji3qsdvk {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.7297297297297298s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #eltia4phy6n8 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.7567567567567568s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #eletcvg1yoxci {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.7837837837837838s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elt29cn1aoxrf {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.8108108108108109s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elcxhalp8p1jk {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.8378378378378379s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #eluxordc67tp9 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.8648648648648649s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #ely9f07l5y91 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.8918918918918919s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elpkvyt7gtj8k {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.918918918918919s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elrtj82n8hboq {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.945945945945946s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #el68vmdspmvbp {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.972972972972973s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #freepik--Wall--inject-107 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #elk9ex3mojlj {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #freepik--Window--inject-107 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #elh9r6mcekn8v {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #eldvbv7k8xz0i {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.3333333333333333s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #elvd2thzauljb {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.6666666666666666s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #freepik--Plants--inject-107 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #freepik--character-4--inject-107 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #freepik--character-2--inject-107 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #freepik--character-3--inject-107 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #freepik--character-1--inject-107 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #el7uuswpolo6k {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0s;
}
svg#freepik_stories-group-photo.animated #el2ddbo8gqp6o {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0.5s;
	opacity: 0;
}
svg#freepik_stories-group-photo.animated #freepik--Table--inject-107 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
	animation-delay: 0s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slideRight {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes slideLeft {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.animator-hidden {
	display: none;
}
