/* CURSOR */

body {
	cursor: url(assets/cursor-pointer.png), auto;
}

#cursor {
	display: none;
	height: 64px;
	width: 64px;
	animation: 1s linear fadeIn;
	position: fixed;
	left: 0;
	top: 0;
	transform: translate(calc(-75% + 15px), -75%);
}

#cursor img {
	width: 64px;
	filter: drop-shadow(16px 16px 32px rgba(1, 1, 42, 0.2));
}

/* CURSOR */