* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}

body {
	font-family: "Poppins", sans-serif;
	height: 100%;
	width: 100%;
	background: rgb(175, 90, 90);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: url(assets/cursor-pointer.png), auto;
	pointer-events: none;
}

#cursor
{
	height: 64px;
	width: 64px;
	transition: 0.2s ease-out;
	transition: all 200ms ease-out;
	position: fixed;
	left: 0;
	top: 0;
	transform: translate(calc(-75% + 15px), -75%);
}

#cursor img
{
	width: 64px;
	filter: drop-shadow(16px 16px 32px rgba(1, 1, 42, 0.2));
}

.date-container {
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 30px;
}

.date-container h2 {
	background-color: #ddd;
	color: black;
	padding: 20px;
	border-radius: 10px;
	border: 5px solid #fff;
}

.date-container p {
	background-color: #ddd;
	padding: 2px;
	border-radius: 10px;
	border: 2px solid #fff;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.date-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
	}
	
	.date-container h2, .date-container p{
		rotate: 90deg;
	}
}