:root
{
    font-family: 'Roboto Mono', monospace;
}
html 
{
    scroll-behavior: smooth;
}
*
{
    box-sizing: border-box;
    margin: 0;
}
a
{
    text-decoration: none;
    color: white;
}
.hello-details,.resume-details,.portfolio-details
{
    color: #555555;
}
.hello-details>h3,.resume-details>h3,.portfolio-details>h3
{
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 400;
}
.hello-details>p,.resume-details>p,.portfolio-details>p
{
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Roboto Serif', serif;
    font-weight: 100;
}