/* Utilities */
nav ul li:nth-child(1)
{
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    height: 50px;
    border-radius: 25px;
    text-transform: capitalize;
    padding: 15px;
    text-align: center;
    width: 125px;
}
nav ul li:nth-child(1)>a
{
    color: rgb(45, 45, 45);
}
nav ul li:nth-child(1)>a:hover
{
    color: black;
    transition: 0.3s;
}
nav ul li:nth-child(1)>a::after
{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background: black;
    transition: 0.3s;
    bottom: 0;
}
nav ul li:nth-child(1)>a:hover::after
{
    width: 100%;
}
nav ul li:nth-child(1)>a>i
{
    padding-right: 0.25rem;
}
/* Outlines */
.ol-black
{
    outline: solid black;
}
.ol-blue
{
    outline: solid blue;
}
.ol-red
{
    outline: solid red;
}
.ol-green
{
    outline: solid green;
}
.ol-purple
{
    outline: solid purple;
}

/*  Flex
    i - inline
    fd - flex direction
    fw - flex wrap
    ac - align content
    jc - justify content
    ai - align items
    as - align self
*/
.flex
{
    display: flex;
}
.i-flex
{
    display: inline-flex;
}
.fd-column
{
    flex-direction: column;
}
.fw-wrap
{
    flex-wrap: wrap;
}
.ac-start
{
    align-content: flex-start;
}
.ac-center
{
    align-content: center;
}
.ac-end
{
    align-content: flex-end;
}
.jc-start
{
    justify-content: flex-start;
}
.jc-center
{
    justify-content: center;
}
.jc-sb
{
    justify-content: space-between;
}
.jc-se
{
    justify-content: space-evenly;
}
.jc-sa
{
    justify-content: space-around;
}
.jc-end
{
    justify-content: end;
}
.ai-start
{
    align-items: flex-start;
}
.ai-center
{
    align-items: center;
}
.ai-end
{
    align-items: flex-end;
}
.as-start
{
    align-self: flex-start;
}
.as-center
{
    align-self: center;
}
.as-end
{
    align-self: flex-end;
}
/* Flex end */

/* 12 column grid system */

.container {
    width: 1200px;
    padding: 0;
    margin: 0px auto;
    height: inherit;
}

.container-full {
    width: 100%;
}

.row {
    margin: 10px 0px;
}

.col-1 {
    width: calc((100%/12)*1)
}

.col-2 {
    width: calc((100%/12)*2)
}

.col-3 {
    width: calc((100%/12)*3)
}

.col-4 {
    width: calc((100%/12)*4)
}

.col-5 {
    width: calc((100%/12)*5)
}

.col-6 {
    width: calc((100%/12)*6);}

.col-7 {
    width: calc((100%/12)*7)
}

.col-8 {
    width: calc((100%/12)*8);}

.col-9 {
    width: calc((100%/12)*9)
}

.col-10 {
    width: calc((100%/12)*10)
}

.col-11 {
    width: calc((100%/12)*11)
}

.col-12 {
    width: calc((100%/12)*12)
}

/* spacing */

.section-spacing-s {
    padding: 20px 0px;
}
.section-spacing-m {
    padding: 40px 0px;
}
.section-spacing-l {
    padding: 60px 0px;
}

/* text styles */

.text-x {
    font-size: 10px;
}

.text-2x {
    font-size: 12px;
}

.text-3x {
    font-size: 14px;
}

.text-4x {
    font-size: 16px;
}

.text-5x {
    font-size: 18px;
}

.text-large {
    font-size: 24px;
}

.text-xl {
    font-size: 28px;
}

/* text colors */

.txt-col-white
{
    color: white;
}

.txt-col-black
{
    color: black;
}

/* text markup */

.txt-center
{
    text-align: center;
}
.txt-right
{
    text-align: right;
}
.title-large
{
    font-size: 40px;
}
.title-med
{
    font-size: 28px;
}

/* paddings */

.py-x {
    padding: 5px 0px;
}

.py-2x {
    padding: 10px 0px;
}

.py-3x {
    padding: 15px 0px;
}

.py-4x {
    padding: 20px 0px;
}