/* LOADER */

@-webkit-keyframes load-anim {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@keyframes load-anim {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none !important;
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}
@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}

.shake {
	-webkit-animation: shake 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	animation: shake 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.load-anim {
	-webkit-animation: load-anim 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: load-anim 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.back {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #dbdabe;
	background-image: linear-gradient(
			rgba(30, 30, 30, 0.03) 0.1em,
			transparent 0.1em
		),
		linear-gradient(90deg, rgba(30, 30, 30, 0.03) 0.1em, transparent 0.1em);
	background-size: 3em 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rocket {
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 576px) {
	.rocket > i {
		font-size: 7.5rem;
	}
	.rocket > span {
		font-size: 3rem;
	}
}
@media (min-width: 768px) {
	.rocket > i {
		font-size: 7.5rem;
	}
	.rocket > span {
		font-size: 5rem;
	}
}

@keyframes identifier {
	0% {
		display: none;
	}
}

/* LOADER */
