@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@200;300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 7.5rem;
}

body {
	font-family: "Handjet", cursive !important;
	margin: 0;
	padding: 0;
	padding-top: 6rem;
	background: #dbdabece;
	background-image: linear-gradient(
			rgba(30, 30, 30, 0.03) 0.1em,
			transparent 0.1em
		),
		linear-gradient(90deg, rgba(30, 30, 30, 0.03) 0.1em, transparent 0.1em);
	background-size: 3em 3em;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.touch {
	-moz-user-select: all;
	-webkit-user-select: all;
	user-select: all;
}

.no-touch {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.fs-1 {
	font-size: calc(1.375rem + 1.5vw) !important;
}

.fs-2 {
	font-size: calc(1.325rem + 0.9vw) !important;
}

.fs-3 {
	font-size: calc(1.3rem + 0.6vw) !important;
}

.fs-4 {
	font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-5 {
	font-size: 1.25rem !important;
}

.fs-6 {
	font-size: 1rem !important;
}

@media (min-width: 576px) {
	.fs-sm-1 {
		font-size: calc(1.375rem + 1.5vw) !important;
	}
	.fs-sm-2 {
		font-size: calc(1.325rem + 0.9vw) !important;
	}
	.fs-sm-3 {
		font-size: calc(1.3rem + 0.6vw) !important;
	}
	.fs-sm-4 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}
	.fs-sm-5 {
		font-size: 1.25rem !important;
	}
	.fs-sm-6 {
		font-size: 1rem !important;
	}
}
@media (min-width: 768px) {
	.fs-md-1 {
		font-size: calc(1.375rem + 1.5vw) !important;
	}
	.fs-md-2 {
		font-size: calc(1.325rem + 0.9vw) !important;
	}
	.fs-md-3 {
		font-size: calc(1.3rem + 0.6vw) !important;
	}
	.fs-md-4 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}
	.fs-md-5 {
		font-size: 1.25rem !important;
	}
	.fs-md-6 {
		font-size: 1rem !important;
	}
}
@media (min-width: 992px) {
	.fs-lg-1 {
		font-size: calc(1.375rem + 1.5vw) !important;
	}
	.fs-lg-2 {
		font-size: calc(1.325rem + 0.9vw) !important;
	}
	.fs-lg-3 {
		font-size: calc(1.3rem + 0.6vw) !important;
	}
	.fs-lg-4 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}
	.fs-lg-5 {
		font-size: 1.25rem !important;
	}
	.fs-lg-6 {
		font-size: 1rem !important;
	}
}
@media (min-width: 1200px) {
	.fs-xl-1 {
		font-size: calc(1.375rem + 1.5vw) !important;
	}
	.fs-xl-2 {
		font-size: calc(1.325rem + 0.9vw) !important;
	}
	.fs-xl-3 {
		font-size: calc(1.3rem + 0.6vw) !important;
	}
	.fs-xl-4 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}
	.fs-xl-5 {
		font-size: 1.25rem !important;
	}
	.fs-xl-6 {
		font-size: 1rem !important;
	}
}
@media (min-width: 1400px) {
	.fs-xxl-1 {
		font-size: calc(1.375rem + 1.5vw) !important;
	}
	.fs-xxl-2 {
		font-size: calc(1.325rem + 0.9vw) !important;
	}
	.fs-xxl-3 {
		font-size: calc(1.3rem + 0.6vw) !important;
	}
	.fs-xxl-4 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}
	.fs-xxl-5 {
		font-size: 1.25rem !important;
	}
	.fs-xxl-6 {
		font-size: 1rem !important;
	}
}
@media (min-width: 1200px) {
	.fs-1 {
		font-size: 2.5rem !important;
	}
	.fs-2 {
		font-size: 2rem !important;
	}
	.fs-3 {
		font-size: 1.75rem !important;
	}
	.fs-4 {
		font-size: 1.5rem !important;
	}
	.fs-sm-1 {
		font-size: 2.5rem !important;
	}
	.fs-sm-2 {
		font-size: 2rem !important;
	}
	.fs-sm-3 {
		font-size: 1.75rem !important;
	}
	.fs-sm-4 {
		font-size: 1.5rem !important;
	}
	.fs-md-1 {
		font-size: 2.5rem !important;
	}
	.fs-md-2 {
		font-size: 2rem !important;
	}
	.fs-md-3 {
		font-size: 1.75rem !important;
	}
	.fs-md-4 {
		font-size: 1.5rem !important;
	}
	.fs-lg-1 {
		font-size: 2.5rem !important;
	}
	.fs-lg-2 {
		font-size: 2rem !important;
	}
	.fs-lg-3 {
		font-size: 1.75rem !important;
	}
	.fs-lg-4 {
		font-size: 1.5rem !important;
	}
}