@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

h5>a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.7);
}

h5>a:hover{
    color: whitesmoke;
}

.back {
    background: rgb(0, 0, 0);
}

.heart {
    background-color: rgb(120, 35, 115);
}

.heart:after {
    background-color: rgb(120, 35, 115);
}

.heart:before {
    background-color: rgb(120, 35, 115);
}

iframe {
    width: 50%;
    height: 100vh;
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

body::-webkit-scrollbar,
.scroll-container::-webkit-scrollbar {
    display: none;
}

.heart-rain {
    color: crimson;
    font-size: 25px;
    position: absolute;
    animation: heartMove linear 1;
    top: -10vh;
    z-index: 0;
}

.fa-heart
{
    color: crimson;
}

.scroll-container,
.scroll-area {
    width: 100%;
    height: 100vh;
}

.scroll-area:nth-of-type(3) {
    justify-content: center;
    width: 100%;
}

.scroll-container {
    display: none;
    margin: 0;
    overflow: auto;
    -webkit-scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
    margin: 0 auto;
}

.scroll-area {
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
}

@keyframes heartMove {
    0% {
        transform: translateY(-10vh);
    }

    100% {
        transform: translateY(110vh);
    }
}

@keyframes bg {
    50% {
        background: rgb(55, 40, 55);
    }
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
	.scroll-area {
		flex-direction: column;
        justify-content: center;
	}
    iframe{
        width: 100%;
    }
    .col-4{
        width: 95%;
    }
    .card-text{
        font-size: 0.625rem;
    }
    .py-3{
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
    }
}
@media only screen and (min-width: 768px) {
	.scroll-area {
		flex-direction: row;
        justify-content: space-between;
	}
    iframe{
        width: 50%;
    }
    .col-4{
        width: 33.333333%;
    }
    .card-text{
        font-size: 1rem;
    }
    .py-3{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}